$phone-width: 600px;
$tablet-width: 900px;
$notebook-width: 1200px;

@mixin phone {
    @media (max-width: #{$phone-width}) {
      @content;
    }
  }

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin notebook {
    @media (max-width: #{$notebook-width}){
      @content;
    }
  }

@mixin desktop {
  @media (min-width: #{$notebook-width + 1}) {
    @content;
  }
}